.container {
    width: 70%;
    height: auto;
    background-color: #1D1F27;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-bottom: -20px;
}

.container img {
    width: 900px;
    height: 60%;
    margin: 0 auto;
    display: block;
    align-items: center;
}

.container-pequeno {
    width: 82%;
    height: 140px;
    background-color: #201f24;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #363430;
    margin-bottom: 40px;
    margin-top: 0px;
    padding: 20px;
}

.container-medio {
    width: 82%;
    height: 220px;
    background-color: #201f24;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #363430;
    padding: 20px;
    margin-bottom: 20px;

}

.container-pequeno1 {
    width: 82%;
    height: 140px;
    background-color: #201f24;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #363430;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px;
}

.container-group {
    width: 82%;
    height: 240px;
    background-color: #201f24;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #363430;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 20px;
}

.container-group-main {
    width: 80%;
    height: auto;
    background-color: #1D1F27;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h2 {
    text-align: left;
    color: #F9F9F9;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 20px;
    
}

p {
    color: #747474;
    margin-left: 2.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: -20px;
    text-align: left;
    line-height: 1.5;
    
}

/* ================================================================= */

/* Responsividade para dispositivos móveis (celulares) */
@media (max-width: 600px) {

    .container {
        width: 90%;
        padding: 10px;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .container-pequeno {
        width: auto;
        height: auto;
    }

    .container-medio {
        width: auto;
        height: auto;
    }

    .container-pequeno1 {
        width: auto;
        height: auto;
    }

    .container-group-main {
        width: auto;
        height: auto;
    }

    .container-group {
        width: auto;
        height: auto;
    }

    p {
        font-size: 14px; /* Diminui o tamanho da fonte para telas móveis */
    }
}

/* Responsividade para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .container-pequeno {
        width: auto;
        height: auto;
    }

    .container-medio {
        width: auto;
        height: auto;
    }

    .container-pequeno1 {
        width: auto;
        height: auto;
    }

    .container-group-main {
        width: auto;
        height: auto;
    }

    .container-group {
        width: auto;
        height: auto;
    }

    p {
        font-size: 16px; /* Diminui o tamanho da fonte para telas móveis */
    }
}

/* Ajustes para telas maiores */
@media (min-width: 1025px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .container-pequeno {
        width: auto;
        height: auto;
    }

    .container-medio {
        width: auto;
        height: auto;
    }

    .container-pequeno1 {
        width: auto;
        height: auto;
    }

    .container-group-main {
        width: auto;
        height: auto;
    }

    .container-group {
        width: auto;
        height: auto;
    }

    p {
        font-size: 18px; /* Diminui o tamanho da fonte para telas móveis */
    }
}
